html {
  min-height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(248, 152, 8);
}

@font-face {
  font-family: digital-7;
  src: url(digital-7.ttf);
}

.main {
  width: 260px;
  border-radius: 5%;
  padding: 20px;
  background-color: #2f2e2e;
  box-shadow: 5px 5px 12px rgb(0 0 0 / 50%);
}

.title {
  text-align: center;
  padding: 0px;
  margin: 0px;
  color: aliceblue;
}

.display {
  text-align: right;
  border: solid 1px rgb(249, 138, 20);
  font-size: 40px;
  padding-right: 17px;
  margin: 0px;
  margin-bottom: 10px;
  border-radius: calc(0.3 * 50px);
  background-color: rgb(123, 113, 113);
}

.subDisplay {
  margin: 0px;
  padding: 0px;
  font-size: 13px;
  padding-right: 5px;
  color: aliceblue;
  height: 10px;
  font-family: digital-7;
}

.mainDisplay {
  margin: 0px;
  padding: 0px;
  font-size: calc(7px + 1vw);
  color: aliceblue;
  font-family: digital-7;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 265px;
}

button {
  width: 61.1px;
  height: 61.1px;
  font-size: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
}

.num {
  background-color: rgb(97, 96, 93);
  color: white;
}

.operator {
  background-color: rgb(232, 161, 86);
  color: white;
}

.zero {
  width: 125px;
  border-radius: calc(0.5 * 50px);
  justify-content: left;
  padding-left: 13px;
}
